DEBUG=True

PROJECT_NAME=assistent
PROJECT_URL=http://127.0.0.1:84/api/v1/assistant/

DB_NAME=movies_database
DB_USER=app
DB_PASSWORD=password
DB_HOST=postgres
DB_PORT=5432

PARSE_SIZE=100
UPDATED_DAYS_LIMIT=1
RERUN=10

ELASTICSEARCH_URL=http://es:9200
ELASTICSEARCH_LOAD_SIZE=100
ELASTIC_HOST=es
ELASTIC_PORT=9200
ELASTIC_LOAD_SIZE=100

REDIT_HOST=assistant-redis
REDIS_PORT=6379
MATCH_PERCENT=0.85

YANDEX_TOKEN=
YANDEX_CATALOG=